# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java项目——2020版\server_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
